:root {
  --max-width: 1100px;
  --error-color: #dc3545;
  --padding: 20px;
}

[data-theme="dark"] {
  --primary-color: #000000;
  --secondary-color: #12a687;
  --third-color: #000000;
  --four-color: #25211d;
  --card-color: #0a0a0a;
  --altern-color: #332516;
  --altern-secondary-color: #5a3315;

  --window-color: #292420;
  --preview-color: #171412;
  --font-color-title: #ffffff;
  --font-color-text: #a1a1a1;
  --border-color: #1f1f1f;
}

[data-theme="light"] {
  --primary-color: #17202b;
  --secondary-color: #df8052;
  --third-color: #f2e4d9;
  --four-color: #f4f2ec;
  --card-color: #f7f4ed;
  --altern-color: #f7ebda;
  --altern-secondary-color: #f7d1b2;

  --window-color: #f1eee6;
  --preview-color: #f6f4ee;

  --font-color-title: #38332e;
  --font-color-text: #7e7367;
  --border-color: #e0dad1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
}
