.container {
  display: flex;
  background-color: var(--third-color);
}

.content {
  width: 100%;
  padding-top: 63px;
}

.collapsed {
  padding: 20px 20px 20px 100px;
}

.expanded {
  padding: 20px 20px 20px 280px;
}
